{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'users/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'users/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'users/about.css' %}">
    <!--link rel="stylesheet" type="text/css" href="{% static 'users/details.css' %}"-->
    <link rel="stylesheet" type="text/css" href="{% static 'users/responsive.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="{% static 'users/parallax.js-1.5.0/parallax.js' %}"></script>
    <script src="{% static 'users/parallax.js-1.5.0/parallax.min.js' %}"></script>

    <title></title>
  </head>
  <body>
    {%if messages%}
      {% for message in messages %}
        <div class=" alert alert-{{ messages.tags }}">
            {{message}}
        </div>
      {% endfor %}
    {% endif %}

    {%if user.is_authenticated%}
    <div class="nav-container">
        <div class="nav-wrapper">
            <div class="nav"></div>
            <div class="nav-bar">
              <div class="hamburger">
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
              </div>
                <div class="left-nav-bar">
                    <div class="logo">
                      <h2><a href="{% url 'hostels'%}">Homify.com</a></h2>
                    </div>
                </div>
                <div class="right-nav-bar">
                <div class="nav-links">
                        <a href="{% url 'hostels' %}"><i class="material-icons">home</i>Home</a>
                </div>
                <div class="nav-links">
                        <a href="about.html"><i class="material-icons">people_outline</i>About</a>
                </div>
                <div class="nav-links">
                        <a href="{% url 'logout' %}" class="login-btn">Logout</a>
                </div>
                </div>
            </div>
            <div class="header">
            </div>
        </div>
    </div>
    {% else %}
    <div class="nav-container">
        <div class="nav-wrapper">
            <div class="nav"></div>
            <div class="nav-bar">
              <div class="hamburger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
                <div class="left-nav-bar">
                <div class="logo">
                      <h2> <a href="{% url 'hostels'%}">Homify.com</a></h2>
                    </div>

                </div>
                    <div class="right-nav-bar">
                    <div class="nav-links">
                        <a href="{% url 'hostels' %}"><i class="material-icons">home</i>Home</a>
                    </div>
                    <div class="nav-links">
                        <a href="{% url 'hostels'%}"><i class="material-icons">people_outline</i>About</a>
                    </div>

                    <div class="nav-links">
                        <a href="{% url 'login' %}" class="login-btn">Login</a>
                    </div>
                    <div class="nav-links">
                        <a href="{% url 'register' %}" class="login-btn">Sign Up</a>
                    </div>
                </div>
            </div>
            <div class="header">
            </div>
        </div>
    </div>
    {% endif %}

    <div class="content-wrapper">
        <div class="content">
          {% block content %}

          {% endblock content%}
        </div>
    </div>
    <div class="footer-wrapper">   
        <div class="footer-nav">
        <div class="footer-foot">
            <div class="logo">
                <h2><a href="">Homify.com</a></h2>
            </div>
        </div>
                <div class="footer-social-icons">
                    <div class="social-media-links">
                        <a href=""><img src="{% static 'users/icons/facebook.png' %}" alt="" srcset="" height="35px" width="35px"></a>
                        <a href=""><img src="{% static 'users/icons/twitter.png' %}" alt="" srcset="" height="35px" width="35px"></a>
                        <a href=""><img src="{% static 'users/icons/instagram.png' %}" alt="" srcset="" height="35px" width="35px"></a>
                        <a href=""><img src="{% static 'users/icons/mail-2.png' %}" alt="" srcset="" height="35px" width="35px"></a>
                        <a href=""><img src="{% static 'users/icons/whatsapp.png' %}" alt="" srcset="" height="35px" width="35px"></a>
                    </div>
                </div>
                <div class="page-links">
                    <a href="index.html">Home</a>
                    <a href="contact.html">Contact</a>
                    <a href="about.html">About</a>
                </div>
                <div class="footer-nav-bar">
                    <div class="copyright">
                        &#9400; 2020 |
                    </div>
                    <div class="designer">
                        Designed by <span>Castle International</span>
                    </div>
                </div>
            </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{% static 'users/js.js' %}"></script>
  </body>
</html>
